rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /friendLists/{userId} {
    	allow read, write: if false;
    }

    match /users/{userId} {
    	// Public to anyone who's signed into a real account
      allow read: if
        request.auth != null &&
        request.auth.token.firebase.sign_in_provider != "anonymous";

      // Creation/deletion is handled by cloud functions
      allow create, delete: if false;

      allow update: if
    		// Must be the user this document belongs to
      	request.auth.uid == userId &&
        // User cannot change their userId within database
      	request.resource.data.userId == resource.data.userId;

      // TODO: Separate out friendPantries (updated by cloud function, not user)
      match /userData/{document} {
        // Creation/deletion is handled by cloud functions
        allow create, delete: if false;

      	// TODO: Make sure this works...
      	allow read, update: if request.auth.uid == userId;
      }
    }
  }
}